/* Header Styling */
h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 50px;
}

/* Game Container Styling */
.game-container {
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result Container Styling */
.result {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 200px;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Board Styling */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

/* Cell Styling */
.cell {
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}

/* Cell Content (X and O) Styling */
.cell[data-cell="X"] {
    color: #ff0000;
}

.cell[data-cell="O"] {
    color: #0000ff;
}

/* Reset Button Styling */
.reset-btn {
    border: 2px solid #000;
    width: 75px;
    height: 75px;
    font-size: 50px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Reset Button Hover Styling */
.reset-btn:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

/* Disabled Reset Button Styling */
.reset-btn:disabled {
    color: black;
    cursor: no-drop;
}