/* styles.css */
body {
    display: flex;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100vh;
    padding: 20px;
    overflow-y: scroll;
    background-color: #f0f0f0; /* Background color for the main content */
}

.right-container {
    margin: 60px;
    width: 20%; /* Adjust this width as needed */
    padding: 40px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    border-radius: 10px 5px 10px 5px;
    color: #0215e0;
    background-color: #ffb579; /* Background color for the right-side container */
}